.service-area {
   margin: 40px 0;
}

.service-text {
   margin-bottom: 30px;
   text-align: center;
}

.services-container {
   align-items: center;
   padding: 10px;
}


.services-details-container {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(3, 1fr);
   text-align: center;
}