.review-details {
    border: 1px solid gray;
    border-radius: 5px;
}

.review-img {
    margin-top: 20px;
    margin-left: 130px;
    width: 150px;
    border-radius: 50px;
}

.review-area {
    text-align: center;
    padding: 10px;
    text-align: left;
}